<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id = "com.chekolin.cursoPG"
	version="1.0.0">
    <name>Mi App PhoneGap de prueba</name>
    <description>Proyecto de prueba </description>
    <author href="https://www.mipagina.com" email="sergio.rafael.ledezma.vazquez@gmail.com">
        Sergio Rafael Ledezma Vazquez
    </author>
<widget>